body {
    margin: 0;
    padding: 0;
    background-color: #fff;

    article {
        max-width: 1200px;
        margin: 0 auto;
        padding: 2rem;
    }
}

.cards {
    display: flex;
    gap: 1rem;
    flex-grow: 1;
    margin-top: 1em;
    margin-bottom: 1em;
}

.components {
    .component-header {
        text-align: center;
        margin-bottom: 3em;
    }
    margin-bottom: 2em;
}
